html,
body {
    height: 100%;
}

.container {
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    width: 48px;
}

.little-down {
    padding-top: 72px;
}

.little-space {
    padding: 8px;
}